@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap');



body {
  .lancelot-regular {
  font-family: "Lancelot", serif;
  font-weight: 400;
  font-style: normal;
}

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
