@import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&family=Goudy+Bookletter+1911&family=Lancelot&family=Mea+Culpa&family=Uncial+Antiqua&display=swap');

body {
  font-family: "Almendra", serif !important;
  font-weight: 400;
  font-style: normal;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
